.StrName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    width: 100%;
    >div{
        width: 1232px;
        h5{
            font-size: 12px;
            color: #06122460;
            font-weight: 400;
        }
    }

}
.Str1{
    >.background1{
        display: flex;

    }
}