.navbar {
    background-color: #fff;
    padding: 20px;
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      .logo {
        img {
          height: 40px; 
        }
      }
  
      .menu {
        display: flex;
        align-items: center;
  
        .phone {
          margin-right: 20px;
        }
        p{
          font-size: 14px;
        }
        .links {
          a {
            margin-left: 20px;
            text-decoration: none;
            color: #333; 
            
          }
        }
      }
  
      .actions {
        display: flex;
        align-items: center;
  
        .login {
          border: 1px solid #2962ff;
          color: #2962ff;
          padding: 8px 20px;
          border-radius: 20px;
          text-decoration: none;
          margin-right: 10px;
        }
  
        .register {
          background-color: #2962ff;
          color: #fff;
          padding: 8px 20px;
          border-radius: 20px;
          text-decoration: none;
        }
  
        .language {
          margin-left: 10px;
        }
      }
    }
  }