.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
      z-index: 100; 
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      gap: 50px;
        
      .center{
        display: flex;
        text-align: center;
        gap: 25px;

        a{
          text-decoration: none;
          color: #061224;
          padding-right: 20px;
        }
      }
      .left{
        padding-left: 50px;
        width: 200px;
        height: 40px;
      }
      .right{
        width: 393px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

          a{
            text-decoration: none;
            color: #061224;
          }
          .login{
            width: 110px;
            height: 40px;
            background-color: transparent;
            border: 1.5px solid #1064E5;
            color: #061224;
            font-size: 14px;
            border-radius: 45px;
          }
          .register{
            width: 189px;
            height: 40px;
            background-color: #1064E5;
            color: white;
            border: 0px;
            border-radius: 45px;
          }
      }
  
    }
  }