.modal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  
    form {
        background-color: #DEEEFC;
        padding: 20px;
        border-radius: 8px;
        width: 551px;
        height: 400px;
        display: flex; 
        flex-direction: column; 
  
        .zg1 {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between; 
            margin-bottom: 20px;
  
            p {
                font-size: 30px;
            }
  
            img {
                width: 24px;
                height: 24px; 
                cursor: pointer; 
                transition: opacity 0.3s ease; 
            }
        }
  
        .email1 {
            width: 100%;
  
            p {
                font-size: 18px;
                padding-left: 10px;
                margin-bottom: 5px; 
            }
        }
  
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 50px;
            box-sizing: border-box;
        }
  
        button {
            width: 217px;
            height: 43px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            background-color: #1064E5;
            color: white;
            align-self: center; 
            margin-top: 10px;
        }
    }
  }