.str3{
    .background1{
        width: 100%;
        height: 318px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 1232px;
            height: 318px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >div{
                display: flex;
                justify-content: space-between;
                height: 249px;
                width: 100%;
                >div{
                    width: 493px;
                    height: 249px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    >div{
                        display: flex;
                        img{
                            height: 24px;
                        }
                        p{
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
    .background2{
        padding-top: 24px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1232px;
            height: 603px;
            h2{
                font-size: 40px;
            }
            .form-group {
              width: 420px;
              .label {
                font-size: 18px;
                color: black;
                padding-left: 22px;
              }
      
              .input, .textarea {
                width: 100%;
                padding: 10px;
                padding-left: 22px;
                border: 1px solid #ced4da;
                border-radius: 20px;
                font-size: 18px;
                color: #495057;
                outline: none;
    
              }
      
              .textarea {
                resize: none;
                min-height: 100px;
                border-radius: 10px;
              }
            }
      
            .button {
              background-color: #1064E590;
              color: #fff;
              border: none;
              border-radius: 45px;
              font-size: 14px;
              width: 217px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
    }
}
