.str7{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .background1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 654px;
        background-color: #D8F1F0;
        >div{
            width: 1230px;
            height: 572px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >h2{
                font-size: 40px;
                font-weight: 500;
            }
            >div{
                height: 494px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                >div{
                    height: 494px;
                    width: 374px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    >div{
                        padding-left: 14px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 85px;
                        h3{
                            font-size: 24px;
                            font-weight: 500;
                        }
                        h4{
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .background2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 651px;
        >div{
            width: 734px;
            height: 539px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >h2{
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
}