@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", serif;
}
p{
    font-size: 18px; // У НАС ВСЕ p 18 ПИКСЕЛЕЙ, НЕ НАДО В РЕМАХ ПИСАТЬ
}
h1{
    font-size: 40px; // ТОЖЕ САМОЕ С h1
}
h5{
    font-size: 12px; // это мы используем для текста по типу "Signy /  Популярные вопросы"
    color: #06122460;
    font-weight: 500;
}