footer{
    background-color: #061224;
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        width: 1232px;
        height: 168px;
        display: flex;
        justify-content: space-between;
        h5{
            color: #ffffff60;
        }
        p{
            color: white;
            font-size: 14px;
        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .osobenny{
            height: 138px;
            width: 242px;
            >p{
                color: #ffffff80;
            }
        }
    }
}